




.grid1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 20px;
    margin-right:40px;
}

img{
    width:100%;
    height: 100o;
    border:3px solid black ;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 20px;
    margin-right: 40px;
}

.photo1{
    grid-column: 1;
    grid-row: 1;
}

.photo2{
    grid-column: 2;
    grid-row: 1;

}

.photo3{
grid-column: 1;
grid-row: 1;
}

.photo4{
    grid-column: 2;
    grid-row: 1;
}

.photo5{
    grid-column: 3/5;
    grid-row: 1/3;
}
.photo6{
    grid-column: 5;
    grid-row: 1;
}

.photo7{
    grid-column: 1/3;
    grid-row:2;
}

.photo8{
    grid-column: 5;
    grid-row: 2;
}
.photo9{
    grid-column:1 ;
    grid-row: 3;
}

.photo10{
    grid-column: 2;
    grid-row: 3;
}

.photo11{
    grid-column: 3/6;
    grid-row: 3;
}